<div layout="column">
  <md-toolbar id='navbar' flex layout="row">
    <div class="md-toolbar-tools">
      <span flex="25" layout="row" layout-align="start center">
        POS Manager - {{ctrl.page}}
      </span>
    </div>
  </md-toolbar>
</div>
