<!DOCTYPE html>
<html>
<head>
  <title>POS Manager</title>
  <base href="/">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.layouts.min.css">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="posManager" layout="column" ng-cloak ng-controller="mainCtrl as main">

<md-content ui-view layout="column" flex></md-content>
</body>
</html>
